body{
    margin: 0;
    padding: 0;
    background-image: url('home.jpg') ;
    background-position-y: 15%;
    background-size: cover;
    background-attachment: fixed;
}

ul {

    list-style-type: none;
    font-size: 200%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: right;
    padding: 0px 30px;
}

li a {
    
    display: block;
    
    
    color: black;
    
    
    text-align: center;
    
    
    padding: 14px 16px;
    
    
    text-decoration: none;
}

li a:hover {
    
    background-color: #666;
}

li a .active {

    background-color: #111;
}


.home1 h1{
    display: flex;
    justify-content: center;
    text-align-last: center;
    width: 100%;
    font-size: 500% ;
    text-shadow: 3px -1px white;
}

